<%= search_form_for @q, :class => collapse_search_form, :id => "workouts_filters" do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :name_cont, "Name contains" %>
    <%= f.text_field :name_cont, :class => "form-control", :placeholder => "Name contains" %>
  </div>

  <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

  <a href="/workouts" class="btn btn-outline-secondary btn-block mb-1">Clear filters</a>

<% end %>

<a class="btn btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#workouts_filters">
  Show filters
</a>
