<div class="row mb-3">
  <div class="col-md-12">
    <h1 class="display-4">
      Your exercises
    </h1>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-4 mb-3">
    <div class="card mb-3">
      <div class="card-body">
        <p class="lead">Log an exercise:</p>

        <%= render "form", exercise: @new_exercise %>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <%= render partial: "exercises/exercises_search_form" %>
      </div>
    </div>
  </div>

  <div class="col-md-8 mb-3">
    <div class="table-responsive">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">Workout</th>
            <th scope="col">Reps</th>
            <th scope="col">Weight (lbs)</th>
            <th scope="col">Date</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <%= render collection: @exercises, partial: "table_row", as: :exercise %>
        </tbody>
      </table>
    </div>

    <div class="d-flex justify-content-center">
      <%= paginate @exercises, theme: 'twitter-bootstrap-4' %>
    </div>

  </div>
</div>
